.feature-center-steps {
  padding: 30px;
  float: center;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;

}
@media screen and (max-width: 768px) {
  .feature-center-steps {
    margin-bottom: 50px;
  }
}
.feature-center-steps .desc {
  padding-left: 180px;
}
.feature-center-steps .icon {
  margin-bottom: 20px;
  display: block;
}
.feature-center-steps .icon i {
  font-size: 40px;
  color: rgba(42, 54, 59, 0.2);
}
.feature-center-steps .icon2 {
  float: left;
}
.feature-center-steps .icon2 i {
  font-size: 100px;
}
.feature-center-steps p:last-child {
  margin-bottom: 0;
}
.feature-center-steps p, .feature-center-steps h3 {
  margin-bottom: 30px;
}
.feature-center-steps h3 {
  font-size: 22px;
  color: #5d5d5d;
}
.feature-center-steps:hover, .feature-center-steps:focus {
  background: #F73859;
  bottom: 10px;
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
.feature-center-steps:hover p:last-child, .feature-center-steps:focus p:last-child {
  margin-bottom: 0;
}
.feature-center-steps:hover .icon i, .feature-center-steps:focus .icon i {
  color: rgba(255, 255, 255, 0.7);
}
.feature-center-steps:hover p, .feature-center-steps:hover h3, .feature-center-steps:hover h2, .feature-center-steps:focus p, .feature-center-steps:focus h3,
.feature-center-steps:focus h2 {
  color: #fff !important;
  text-align: center!important;
}
.feature-center-steps:hover a, .feature-center-steps:focus a {
  color: rgba(255, 255, 255, 0.7);
}
.feature-center-steps:hover a:hover, .feature-center-steps:focus a:hover {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .feature-center-steps:hover, .feature-center-steps:focus {
    bottom: 0;
  }
}

#fh5co-counter .feature-center-steps:hover .counter {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-counter .feature-center-steps {
    margin-bottom: 30px;
  }
}
.table {
  table-layout: fixed;
  width:100%;
  border: 0px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.centered {
  margin:auto;
  text-align: center;
=======
=======
>>>>>>> ccbbada371fa015ac8ce98b788b06eaed5bafbfd
=======
>>>>>>> ccbbada371fa015ac8ce98b788b06eaed5bafbfd
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> ccbbada371fa015ac8ce98b788b06eaed5bafbfd
=======
>>>>>>> ccbbada371fa015ac8ce98b788b06eaed5bafbfd
=======
>>>>>>> ccbbada371fa015ac8ce98b788b06eaed5bafbfd
}